body {
	background-color: #000;
	font-family: "Courier";
}
body, div {
	cursor: url('./images/cursor.png'), auto;
}
p {
	color: #fff;
	font-size: 20px;
}
h1, h2, h3, h4, h5 {
	color: #bbb;
}
footer {
	background-color: #000;
}
nav {
	background-color: rgba(0,0,0,.9);
	color: #fff;
}
.nav-btn {
	background-color: #000;
}
#banner_float {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.banner {
	height: 900px;
	position:relative;
	background: #fff url('./images/alien-hands.png') no-repeat center top fixed;
	background-size: cover;
}
#nav-menu {
	padding-top: 30px;
}
#mobile-nav {
	float: right;
	margin-right: 5px;
}
.slidingNav {
	color: #000;
}
.container {
	min-height: 400px;
	background-color: #000;
}
.blog_page_btn {
  padding: 5px;
  display: inline-block;
}
.blog {
  padding-bottom: 15px;
}
.page_btn {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  color: #fff;
  text-align: center;
  border: none !important;
}
.blog_img {
  height: 300px;
  width: 95%;
  cursor: pointer;  
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
  transition: background .3s linear;
}
.blog_img:hover {
  transition: border-radius .3s;
  border-radius: 50%;
  border:2px solid #aaa;
  border-style:outset;
}
.blog_img:hover .shine {
  transform: skewX(15deg) translateX(420px);
}
.shine {
  position: absolute;
  top: 0;
  left: -70px;
  height: 100%;
  width: 30px;
  background: rgba(0, 0, 0, 0.4);
  transition: all .3s linear;
  transform: skewX(15deg) translateX(0);
}
.disabled,
.disabled:hover {
  background-color: #ccc !important;
}
@media screen and (max-width: 1000px){
	.banner {
		height: 450px !important;
	}
	#nav-right {
		padding-top: 0;
	}
	#nav-menu .nav-btn {
		border: none;
		background: none;
	}
	#nav-menu .nav-btn {
		display: flex;
		justify-content: flex-end;
	}
}